@import "colors";

@font-face {
  font-family: 'Death-to-Metal';
  src: url("/assets/Heavy Metal Rocking.ttf")
}

@font-face {
  font-family: 'texticles';
  src: url("/assets/Myriad Pro Light Regular.ttf")
}

footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  font-family: 'texticles';
  background-color: $darkbrown;
  color: $nav-bar-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  .logo {
    color: $nav-bar-color;
    font-family: 'Death-to-Metal';
    h1 {
      font-size: 1em;
      font-weight: 100;
    }
  }
  .privacy {
    display: flex;
    justify-content: space-around;
    a {
      padding: 0 5px;
      color: $orange;
      text-decoration: none;
    }
  }
  .connect {
    a {
      color: $orange;
    }
  }
}
