@import "colors";

@font-face {
  font-family: 'metal';
  src: url('/assets/gunmetl.ttf')
}

@font-face {
  font-family: 'Death-to-Metal';
  src: url("/assets/Heavy Metal Rocking.ttf")
}

body {
  margin: 0;
}
nav {
  font-family: 'metal';
  color: $grey !important;
  h1 {
    font-family: 'Death-to-Metal';
    font-size: 25px;
    color: $darkbrown;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    text-decoration: none;
    font-size: 25px;
    &:hover {
      text-decoration: none;
      box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
  }
  .cats {
    display: flex;
    ul {
      display: flex;
      li {
        list-style: none;
        padding: 0 10px;
        h3 {
          a {
            color: #333;
          }
        }
      }
    }
  }
  .signin {
    display: flex;
    align-items: center;
    h3 {
      padding: 0 10px;
      a {
        color: #333;
      }
    }
  }
}
