@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "layouts/main";
@import "layouts/navbar";
@import "layouts/cat-wrapper";
@import "layouts/article_show";
@import "layouts/footer";
@import "user/show";
@import "user/form";

@font-face {
  font-family: 'metall';
  src: url('/assets/Heavy Metal Rocking.ttf');
}

@font-face {
  font-family: 'slayer';
  src: url("/assets/SlayerPlain.TTF");
}

@font-face {
  font-family: 'text', sans-serif;
  src: url("/assets/ACKNO.TTF");
}

@font-face {
  font-family: 'Death-to-Metal';
  src: url("/assets/Heavy Metal Rocking.ttf");
}

@font-face {
  font-family: 'texticles';
  src: url("/assets/Myriad Pro Light Regular.ttf");
}

@font-face {
  font-family: 'metal';
  src: url('/assets/gunmetl.ttf');
}
