<footer>
  <div class="logo">
    <%= render 'layouts/logo' %>
  </div>
  <div class="privacy">
    <div class="pp">
      <a href="#">Privacy & Policy </a>
    </div>
    <div class="tc">
      <a href="#"> Terms & Conditions </a>
    </div>
    <div class="pc">
      <span> Copyright 2020. All rights reserved.</span>
    </div>
  </div>
  <div class="icons">
    <div class="connect">
      <span>Contact with us:</span>
      <a href="#"><%= fa_icon "facebook" %></i></a>
      <a href="#"><%= fa_icon "instagram" %></i></a>
      <a href="#"><%= fa_icon "twitter" %></i></a>
    </div>
  </div>
</footer>
